.heading {
  text-align: center;
  color: white;
}

body {
  background-image: linear-gradient(
    to top,
    #161c25,
    #1d2e43,
    #214264,
    #225686,
    #1c6caa
  );
  background-attachment: fixed;
}
